gspread==5.12.4
oauth2client==4.1.3
pandas==2.2.2
Pillow
python-dotenv==1.0.1
anthropic==0.25.0
feedparser==6.0.11
google-api-python-client==2.128.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
newspaper3k==0.2.8
lxml_html_clean==0.1.1
